body {
    font-family: Open Sans;
}

header {
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-weight: bold;
}
.colmar-academy {
    display: flex;
}

.academy-grey {
    color: darkgrey;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
}

.container-hero {
    display: flex;
    align-items: center;
    background-color: rgb(195, 192, 192);
    padding: 32px 24px;
}

.img-banner {
    height: 100%;
    width: 60%;
    margin-right: 24px;
}

.img-banner-pic {
    width: 100%;
}

.learn-something {
    width: 40%;
    height: 100%;
}

.start-here {
    width: 250px;
    padding: 8px 0;
    background-color: rgb(60, 59, 59);
    color: white;
}

.container-information {
    display: flex;
    align-items: center;
    padding: 32px 24px;
}

.img-imformation {
    height: 100%;
    margin-right: 24px;
}

.emanuel {
    margin: 32px auto;
}

.img-informagion-pic {
    width: 100%;
}

.container-information-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.container-information-right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.orientation,
.campus,
.guest-lecture,
.fisma,
.now-then {
    border: solid 1px gray;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.guest-lecture {
    background-color: rgb(195, 192, 192);
}
.info-right-pic {
    width: 35%;
    margin: 16px;
}

.info-details {
    text-align: left;
    row-gap: 8px;
}

.container-courses {
    background-color: rgb(195, 192, 192);
    padding: 32px 56px;
}

.container-courses-info {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.courses {
    background-color: white;
    margin: 16px;
    max-width: 350px;
}

.courses-pic {
    height: auto;
    width: 100%;
}

.courses-title {
    text-align: center;
    width: 100%;
    margin: 32px auto;
}

.courses-details {
    margin: 16px auto 24px 16px;
}

.courses-margin {
    margin: 8px auto;
}

.container-thesis {
    display: flex;
    /* align-items: center; */
    padding: 32px 24px;
    height: 100%;
}

.video-thesis {
    margin: 0 24px 24px 24px;
}

video {
    width: 100%;
}


.container-thesis-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.container-thesis-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
}

.thesis-title {
    text-align: center;
    width: 100%;
}

.fisma,
.now-then {
    border: solid 1px gray;
    margin-bottom: 2px;
}

footer {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    margin: 16px 16px auto 24px;
}