body {
    font-family: Open Sans;
}
header {
    margin-right: 24px;
}
nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
}

.container-hero {
    display: flex;
    background-color: gray;
    padding: 32px 24px;
}

.img-banner {
    height: 100%;
    width: 60%;
}

.img-banner-pic {
    width: 100%;
}

.learn-something {
    width: 40%;
    height: 100%;
    text-align: center;
}


